.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
}

.header_movie-image {
  height: 60px;
  width: 70px;
}

.header__buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
}