.home {
  padding: 0px 40px;
  background-color: black;
}

.home__featured-image {
  position: relative;
}

.home__image {
  height: 250px;
  width: 100%;
}

.home__image_text {
    position: absolute;
    bottom: 8%;
    left: 45%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.home__movies-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home__movies-card {
  margin: 20px 0px;
}

@media only screen and (max-width: 850px) {
  .home__movies-cards {
    justify-content: space-around ;
  }
}